.passengerInfo {
  width: fit-content;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .photo {
      margin-right: 10px;
    }

    .text {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      .name {
        font-weight: 700;
        font-size: 16px;
      }

      .interactions {
        color: #b0b9c9;
      }
    }
  }
}

@media (min-width: 300px) {
  .passengerInfo {
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .passengerInfo {
    margin: 0;
  }
}
