.passengerInfo {
  width: fit-content;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 300px) {
  .passengerInfo {
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .passengerInfo {
    margin: 0;
  }
}
