.mainContainer {
  background-color: #ffffff;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0px 15px 36px -14px rgba(0, 0, 0, 0.3);

  .headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .switchContainer {
      font-weight: 700;
    }
  }

  .lowerContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media (min-width: 300px) {
  .mainContainer {
    width: auto;

    .upperContainer {
      display: flex;
      flex-direction: column;

      .paymentContainer {
        margin-top: 50px;
      }
    }
  }
}

@media (min-width: 700px) {
  .mainContainer {
    width: 640px;
    .upperContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .paymentContainer {
        margin-top: 0px;
      }
    }
  }
}
