.payment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .icon {
    border-radius: 3px;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 30px;
      filter: brightness(0);
    }
  }

  .icon.bigger {
    img {
      width: 100px;
      height: 50px;
    }
  }

  .icon:hover {
    background-color: #3366ff;
    cursor: pointer;

    img {
      filter: brightness(0) invert(1);
    }
  }
}

@media (min-width: 300px) {
  .payment {
    margin: 0 auto;
    width: fit-content;
    max-width: 400px;
  }
}

@media (min-width: 700px) {
  .payment {
    margin: 0;
    width: 400px;
  }
}
