/* Application-wide Styles */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #b0b9c9;
}

h5 {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #b0b9c9;
}

body {
  margin: 0px;
  padding: 0;
  background-color: #f4f6fd;
}
body,
input[type="text"],
button {
  color: #333;
}
/* everywhere else */
* {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
